<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.paimon">

    <permission android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ReservedSystemPermission" />
    <permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ReservedSystemPermission" />

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:requestLegacyExternalStorage="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paimon">

        <activity
            android:name=".CookieActivity"
            android:label="@string/title_activity_cookie"
            android:theme="@style/Theme.Paimon.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Paimon.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_files"
                tools:replace="name,resource"/>
        </provider>

        <receiver android:name=".DownloadReceiver" />
    </application>

</manifest>